<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jakobhartman.healthcenterdirectory" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="cont.db" />

        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.centerDirectory"
            android:label="Center Directory" >
        </activity>
        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.employeeDirectory"
            android:label="@string/title_activity_employee_directory" >
        </activity>
        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.emergencyList"
            android:label="@string/title_activity_emergency_list" >
        </activity>
        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.centerDetails"
            android:label="Center Details" >
        </activity>
        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.employeeDetails"
            android:label="Employee Details" >
        </activity>
        <activity
            android:name="com.example.jakobhartman.healthcenterdirectory.photoDirectory"
            android:label="@string/title_activity_photo_directory" >
        </activity>
    </application>

</manifest>
